<?php
    include('../control/session.php');
?>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suplier Profile</title>
</head>
<body>
    <form action="">
        <table  width="100%" cellpadding="20">
            <tr style="background-color: #153661">
        
                <td>
                    <img src="../photos/logo.png" style="float: left; height:auto; width:100px;">
                </td>
                <td  colspan="1" >
                    
                    <h1 align="center" style="color: white">PROFILE</h1>
                    
                </td>
                <td align="center" style="color: white">
                    Welcome,<i><b> <a href="profile.php" style="color: lightgreen"><?php echo $_SESSION['name']; ?></a></b></i>  
                    <br>   
                    <br> 
                    <a href="logout.php" style="color: red">Logout</a>
                </td>
            </tr>

            <!-- <tr >
                <td align="center" colspan="4">
                    Welcome,<i><b> <a href="profile.php"><?php echo $_SESSION['name']; ?></a></b></i>  <br>    <a href="logout.php">Logout</a>
                </td>
            </tr> -->

            <tr height=730px> <!-- Sidebar -->
                <td width=20% style="background-color: #808080;"></td>       
            
                <!-- main -->
                <td align="center" style="background-color: #ecf0f5;"> 
                <!-- <h3>Welcome to The Library</h3> -->
                <!-- <img src="../photos/photo-1579370318443-8da816457e3d.jpg"> -->

                <?php
                $data = file_get_contents("../db/librarian.json");  
                $data = json_decode($data, true);
                $userData = []; 
                foreach($data as $row)  
                { 
                if($row["userId"] == $_SESSION['userId']){
                    $userData = $row;
                }
                }
                ?>
                    <table align="center" width="30%" cellpadding="6">
                            <tr>
                                <td>User ID</td>
                                <td><input type="text" value="<?=$userData['userId']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" value="<?=$userData['name']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="email" value="<?=$userData['email']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td><input type="text" value="<?=$userData['gender']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td><input type="tel" value="<?=$userData['phone']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><input type="text" value="<?=$userData['address']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Date of Birth</td>
                                <td><input type="date" value="<?=$userData['dob']?>" disabled></td>
                            </tr>

                            <tr>
                                <td>Hiredate</td>
                                <td><input type="date" value="<?=$userData['hiredate']?>" disabled></td>
                            </tr>
                            <tr>
                                <td>Salary (&dollar;)</td>
                                <td><input type="number" value="<?=$userData['salary']?>" disabled></td>
                            </tr>
                            
                            
                            <tr>
                                <td colspan="2" align="right"><button><a href="edit profile.php"><b>Edit Profile<b></a></button></td>
                            </tr>

                    </table>
                
                </td>  <!-- Main -->

                <td width=20% style="background-color: #808080;"> 

                    
                </td>   
            </tr>

            
            <tr >
                <td height="50px" colspan="3" style="background-color: #353535; color:white"><center>Copyright &copy; LMS 2021 </center></td>
            </tr>


        </table>
    </form>
</body>
</html>